@page "/dashboard/{UserId:guid}"
@using BlazorSelfHostedAuthWithSignalr.Client.Extensions
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@attribute [Authorize]

<PageTitle>Dashboard</PageTitle>
<ValidateUserId UserId="@UserId">
    <h3>Dashboard for user @UserId</h3>
</ValidateUserId>
@code {
    [Inject]
    private AuthenticationStateProvider AuthenticationStateProvider { get; set; } = default!;

    [Parameter] public Guid UserId { get; set; } = default!;
}
