@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

Sample users for Testing:
<table class="table">
    <thead>
        <tr>
            <th>Email</th>
            <th>Password</th>
            <th>Roles</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>sally@sally.com</td>
            <td>Pass123$</td>
            <td>Administrator, Manager</td>
        </tr>
        <tr>
            <td>bob@bob.com</td>
            <td>Pass123$</td>
            <td>Manager</td>
        </tr>
    </tbody>
</table>
<p>You have to be an Manager to join chat. You have to be an Administrator to Send Messages.</p>