@CurrentFragment
@code {
    private RenderFragment DefaultInvalid = @:@{
        <PageTitle>ALERT! ALERT! ALERT!</PageTitle>
        <h3>You cannot view this resource!</h3>
    }
    ;
    private RenderFragment DefaultUnknown = @:@{
        <h3>Loading...</h3>
    }
    ;
}
